<div class="header">
<!--menu-->
  <nav id="main_menu" class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!--toggle-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <i class="fa fa-bars"></i>
        </button>
        <!--logo-->
        <div class="logo">
          <a href="index.html"><img src="img/logo.png" alt="" class="animated bounceInDown" /></a> 
        </div>
      </div>
      <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown active">{% link_to normal-jacket %}Home{% endlink_to %}</li>
        <li class="dropdown">{% link_to about-us %}Meet The Team{% endlink_to %}
          <ul class="dropdown-menu">
            {% for team_member in contents.people %}
              <li><a href="team.html">{{team_member.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown"><a href="javascript:{}">Work</a>
          <ul class="dropdown-menu">
              <li><a href="portfolio_2columns.html">2 Columns</a></li>
              <li><a href="portfolio_3columns.html">3 Columns</a></li>
              <li><a href="portfolio_4columns.html">4 Columns</a></li>
              <li><a href="portfolio_masonry.html">Masonry</a></li>
              <li><a href="gallery.html">Paginated Gallery</a></li>
              <li><a href="video_gallery.html">Video Gallery</a></li>
              <li><a href="single_portfolio.html">Single Slider</a></li>
              <li><a href="single_video.html">Single Video</a></li>
              <li><a href="single_image.html">Single Image</a></li>
              <li><a href="full_slider.html">Full Slider</a></li>
              <li><a href="full_video.html">Full Video</a></li>
          </ul>
        </li>
      <li class="dropdown"><a href="javascript:{}">Style</a>
    <ul class="dropdown-menu">
        <li><a href="scaffolding.html">Scaffolding</a></li>
        <li><a href="shortcodes.html">Shortcodes</a></li>
        <li><a href="icons.html">Icons</a></li>
        <li><a href="script_examples.html">JS Examples</a></li>
        <li><a href="javascript:{}">Sub Menu</a>
      <ul class="dropdown-menu sub-menu">
        <li><a href="#">Sub One</a></li>
        <li><a href="#">Sub Two</a></li>
        <li><a href="#">Sub Three</a></li>
        <li><a href="#">Sub Four</a></li>
      </ul>
    </ul>
      </li>
      <li class="dropdown"><a href="javascript:{}">Extras</a>
    <ul class="dropdown-menu">
        <li><a href="dribbble_stream.html">Dribbble Stream</a></li>
        <li><a href="alt_footer.html">Alt. Footer & Boxes</a></li>
        <li><a href="pricing_table.html">Pricing Table</a></li>
        <li><a href="404.html">404 Page</a></li>
    </ul>
      </li>
      <li class="dropdown"><a href="javascript:{}">Blog</a>
    <ul class="dropdown-menu">
        <li><a href="blog.html">Blog</a></li>
        <li><a href="blog_two.html">Blog II</a></li>
        <li><a href="blog_post.html">Blog Post</a></li>
        <li><a href="blog_post2.html">Blog Post II</a></li>
    </ul>
      </li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
  </nav>
</div>
