<div class="header">
  <nav id="main_menu" class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <i class="fa fa-bars"></i>
        </button>
        <div class="logo">
          <a href="index.html"><img src="img/logo.png" alt="" class="animated bounceInDown" /></a> 
        </div>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav pull-right">
        <li class="link {% if page.slug == "index" %}active{% endif %}"><a href="/index.html">Home</a></li>
        {% nav 'site', bootstrap: true, no_wrapper: true, active_class: active %}
          <!-- <li class="active">{% link_to index %}Home{% endlink_to %}</li>
          <li class="dropdown">{% link_to about-us %}Meet The Team{% endlink_to %}
            <ul class="dropdown-menu">
              {% for team_member in contents.people %}
                <li><a href="#">{{team_member.name}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a href="javascript:{}">Work</a>
            <ul class="dropdown-menu">
                <li><a href="#">Photo</a></li>
                <li><a href="#">Video</a></li>
            </ul>
          </li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
