---
title: Home page
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<html>
  <head>
  </head>
  <body>
    {% include 'header' %}
    <div class="content">
      {% block 'main' %}
        <h1>Normal Jacket, coming soon</h1>
      {% endblock %}
    </div>
  </body>
</html>